extends layout

block content
    div(class="container")
            h1 About
            p I'm Joe Hughto, Ph.D.  I'm big into Magic: The Gathering and freelance software development.

            h3 Basics + Education
            p I was born in Upstate NY, graduated college from SUNY Geneseo with a pair of B.A.s in Math and Physics, and then went on to get a Masters and Ph.D. in Astrophysics from Indiana University.  I moved back to the Northeast in mid-2013 so my wife could pursue her own Doctorate.

            h3 Employment
            h4 Current Position:
            p(style='white-space:pre;')
                | Infrastructure Manager
                | Qnect, LLC
                | January 2014 - present
            h4 Previous Positions:
            p(style='white-space:pre;')
                | CS Lab Instructor
                | Mount Holyoke College
                | July 2013 - December 2013
            p(style='white-space:pre;')
                | Postdoctoral Researcher
                | Indiana University
                | August 2012 - June 2013